body {
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

header,
footer {
  background-color: #1f2937;
}

header h2 {
  font-size: 24px;
  color: #f9faf8;
}

header p,
header a,
button {
  font-size: 18px;
  color: #e5e7eb;
}

.left-header h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

button {
  background-color: #3882f6;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 300px;
}

nav ul {
  display: flex;
  gap: 20px;
  align-items: center;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
}

header section {
  padding: 100px 300px;
  display: flex;
  height: 300px;
}

.left-header h1,
.left-header p,
.left-header button {
  margin: 15px;
  padding-right: 50px;
}

.left-header button {
  border-radius: 5px;
  border: 0;
  width: 125px;
  height: 35px;
}

.left-header {
  flex: 1;
  align-self: center;
}

.right-header {
  background-color: darkgrey;
  text-align: center;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.information {
  padding: 50px 500px;
}

.infromation-flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.information h1 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
}

.image {
  border: solid blue 2px;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  justify-self: center;
  margin-top: 10px;
}

.box p {
  text-align: center;
  padding: 0 30px;
}
